<html lang="pt-BR">
<head>
<title>Criptografia RSA</title>
<meta name="author" content="Marco Martins">
<meta name="description" content="Um exemplo de Criptografia RSA para entender os conceitos matemáticos envolvidos">
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/styles.css">
<script src="helpers.js" async></script>
<script defer type="text/javascript" src="vue.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<!-- <script defer type="text/javascript" src="vue.global.js"></script> -->
</head>

<body>
<div id="app">
  <h1>Criptogragia RSA</h1>

  <h3>Escolha dois números primos</h3>
  <label>
    <p>Número primo p:</p>
    <input type="number" v-model="p_user" min="1" step="1" placeholder="Número primo p" />
    <p v-if="p_error" class="red">{{ p_error }}</p>
  </label>
  <label>
    <p>Número primo q:</p>
    <input type="number" v-model="q_user" min="1" step="1" placeholder="Número primo q" />
    <p v-if="q_error" class="red">{{ q_error }}</p>
  </label>

  <h3>Calcule o módulo de n</h3>
  <p>n = p × q = {{ p }} × {{ q }}</p>
  <p><b>n = {{n}}</b></p>

  <h3>Cálculo da Função Totiente de Euler (phi)</h3>
  <p>phi = φ(n) = (p - 1) × (q - 1) = ({{ p }} - 1) × ({{ q }} - 1) = {{p - 1n}} × {{q - 1n}}</p>
  <p><b>phi = {{ euler }}</b></p>

  <h3>Escolha o expoente público (𝓮)</h3>
  <label>
    <p>Deve ser maior que 1, menor que phi = {{ euler }} e coprimo a phi = {{ euler }}, ou seja, o máximo divisor comum entre 𝓮 e {{ euler }} deve ser 1</p>
    <input type="number" v-model="e_user" min="2" step="1" :max="euler" placeholder="Chave pública 𝓮" />
    <p v-if="e_error" class="red">{{ e_error }}</p>
  </label>
  <p>A <b>chave pública</b> a ser compartilhada é dada por n e 𝓮:</p>
  <p><b>CPU(n = {{n}}, 𝓮 = {{e}})</b></p>

  <h3>Cálculo do expoente privado (d)</h3>
  <p>Encontre o valor d tal que (𝓮 × d) (mod phi) = 1, ou seja, {{e}}d (mod {{euler}}) = 1</p>
  <p>Por tentativa e erro, encontramos que d = {{d}}</p>
  <p>A <b>chave privada</b> não compartilhada é dada por n e d:</p>
  <p><b>CPV(n = {{n}}, d = {{d}})</b></p>

  <h3>Defina uma tabela de precodificação</h3>
  <p>Esta tabela serve para transformar caracteres em números com iguais números de algarismos</p>
  <p>Afim de evitar duplicidades, precisamos utilizar {{ chunkSize }} algarismos, já que a tabela tem 999 caracteres</p>
  <table>
    <tr>
      <td>...</td>
      <td v-for="(char, num) in tableX">{{char}}</td>
      <td>...</td>
    </tr>
    <tr>
      <td>...</td>
      <td v-for="(char, num) in tableX">{{num}}</td>
      <td>...</td>
    </tr>
  </table>

  <h3>Escreva a mensagem</h3>
  <textarea v-model="message"></textarea>

  <h3>Transforme a mensagem em números</h3>
  <p>Utilizando a tabela de conversão, converta cada caracter da mensagem escrita em números</p>
  <p><b>{{ codificada }}</b></p>

  <h3>Quebre a mensagem numerada em blocos</h3>
  <p>Os blocos não podem inicar com 0 e devem ser menores que n = {{n}}</p>
  <p><b>{{ msgBlocks.join(', ') }}</b></p>

  <h3>Codifique a mensagem</h3>
  <p>Usando a chave pública CPU(n = {{n}}, 𝓮 = {{e}}), usamos a fórmula <b>C = M<sup>𝓮</sup> (mod n) = M<sup>{{e}}</sup> (mod {{n}})</b></p>
  <p></p><b>{{ cifrada.join(', ') }}</b></p>

  <h3>Transmita a mensagem codificada</h3>
  <p>Envie a mensagem codificada de um dispositivo para o outro.</p>
  <p>Isso é feito de diversos métodos, listei aqui apenas para exemplificar :)</p>
  <p v-if="cifrada.length"><b>{{ cifrada.join('').slice(0, 20) }}... → {{ cifrada.join('').slice(0, 20) }}...</b></p>

  <h3>Decodifique a mensagem</h3>
  <p>Usando a chave privada CPV(n = {{n}}, d = {{d}}), usamos a fórmula <b>M = C<sup>d</sup> (mod n) = C<sup>{{d}}</sup> (mod {{n}})</b></p>
  <p><b>{{ decifrada.join(', ') }}</b></p>

  <h3>Junte os blocos decodificados</h3>
  <p>Unindo todos os blocos decodificados em uma única sequência numérica</p>
  <p><b>{{ decodedNum }}</b></p>

  <h3>Quebre a sequência numérica decodificada</h3>
  <p>Quebramos a sequência numérica em blocos de até {{ chunkSize }} algarismos</p>
  <p><b>{{ decodedBlocks.join(', ') }}</b></p>

  <h3>Transcreva a mensagem para texto</h3>
  <p>Utilizando a tabela de conversão, converta cada conjunto de números em seu caractere correspondente</p>
  <p><b>{{ decodificada }}</b></p>

  <h3>Observações finais</h3>
  <p>Para que a criptografia seja considerada segura, p e q devem ser números de no mínimo 1024 bits, ou seja, devem ter no mímino 308 algarismos</p>
  <p>O recomendado para criptografias de alta segurança ou longa duração é 2048 bits, ou 617 algarismos</p>

  <button @click="setSecureKeys">Usar chaves seguras</button>
  <br />
  <a href="/apostila7.pdf" target="_blank">Apostila Criptografia - IMPA/OBМЕР - S. C. Coutinho (2015)</a>
</div>
</body>
</html>