<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>Gabarito de Respostas</title>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="author" content="Marco Martins">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#e0ebdb"><!--#2f4550-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script defer type="text/javascript" src="vue.global.js"></script>
  <script defer type="text/javascript" src="script.js"></script>
</head>
<body>

<div id="app">

  <div class="masks">
    <div v-for="k in num_of_masks" :key="k" class="mask">

      <div class="head">
        <div class="escola"><b>{{ scholl_name }}</b></div>
        <div class="board">
          <div class="test">
            <div style="padding-bottom: .5em"><b>{{ test_title }}</b></div>
            <div>{{ teacher_name }}</div>
          </div>
          <div class="value"><b>VALOR: </b>{{ test_value }}</div>
          <div class="note"><b>NOTA:</b></div>
        </div>

        <div class="student_info">
          <div class="student">
            <div class="student_head"><b>Nome:</b></div>
            <div class="student_name"></div>
          </div>
          <div class="student">
            <div class="student_head invisible"><b>Nome:</b></div>
            <div class="student_name"></div>
          </div>
          <div class="class_date bold">
            <div class="class">Turma: _______</div>
            <div class="date">Data: _______/_______/_______</div>
          </div>
        </div>

        <div class="instructions">
          <div class="instruc_title"><b>INSTRUÇÕES</b></div>
          <div>
            <ul>
              <li v-for="i in instruct">
                <span v-if="i.length === 1" v-html="i"></span>

                <template v-else>
                  <span v-html="i[0]"></span>
                  <li class="two" v-for="j in i.length - 1" v-html="i[j]"></li>
                </template>
                
              </li>
            </ul>
            <!-- <ul>
              <li>Coloque seu nome</li>
              <li>Marque apenas uma alternativa por questão</li>
              <li>A avaliação é <b>sem</b> consulta</li>
              <li>Se colar, a prova será zerada</li>
              <li>Em cima da mesa:
                <li class="two">1 folha para cálculos</li>
                <li class="two">Lapís e borracha</li>
                <li class="two">Caneta <b>azul</b> ou <b>preta</b></li>
              </li>
              <li>Não é permitido celular ou calculadora</li>
            </ul> -->
          </div>
        </div>

        <div class="fill">
          <div class="fill_title"><b>PREENCHIMENTO</b></div>
          <table class="example inv">
            <tbody class="inv">
              <tr>
                <td v-for="r in num_of_answers" :key="r">
                  <div class="circle" :class="{ filled: r === filled_letter }">{{ getLetter(r) }}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

     <div class="table-grid">
        <table v-for="c in num_of_columns" :key="c">
          <tr v-for="q in maxQuestions" :key="q">
            
            <template v-if="q <= num_of_qs[c - 1]">
              <td class="question_text bold">
                <span v-if="question_text">{{ question_text }}</span>
                <span :class="{ center_num: !question_text }">
                  {{ get_number(c - 1, q - 1) }}
                </span>
              </td>

              <td v-for="a in num_of_answers" :key="a">
                <div class="circle">{{ getLetter(a) }}</div>
              </td>
            </template>

            <!-- Invisible row -->
            <template v-else-if="mask_orientation === 'column'">
              <td :colspan="1 + num_of_answers" class="invisible"><span>Invisible row :)</span></td>
            </template>

          </tr>
        </table>
      </div>
      
    </div>
  </div>

  <div class="options" id="options">
    <h1>Opções</h1>
    <div class="options-grid">

      <label>Nome da escola:</label>
      <input type="text" v-model="scholl_name" placeholder="Nome da escola"/>

      <label>Nome d@ professor@:</label>
      <input type="text" v-model="teacher_name" placeholder="Nome d@ professor@"/>

      <label>Título da prova:</label>
      <input type="text" v-model="test_title" placeholder="Título da prova"/>

      <label>Valor da prova:</label>
      <input type="text" v-model="test_value" placeholder="Valor da prova"/>

      <label>Tamanho do texto:</label>
      <input type="number" v-model="font_size" min="10" step="1" placeholder="Tamanho do texto"/>

      <label>Gabaritos por página:</label>
      <input type="number" v-model="num_of_masks" min="1" step="1" placeholder="Gabaritos por página"/>

      <label>Orientação do gabarito:</label>
      <select v-model="mask_orientation">
        <option value="column">Horizontal</option>
        <option value="row">Vertical</option>
      </select>

      <label>Escala do gabarito:</label>
      <input type="number" v-model="scale" min="0.1" max="2" step="0.1" placeholder="Escala do gabarito"/>

      <label>Número de questões:</label>
      <input type="number" v-model="num_of_questions" min="1" step="1" placeholder="Número de questões"/>

      <label>Número de colunas:</label>
      <input type="number" v-model="num_of_columns" min="1" step="1" placeholder="Número de colunas"/>

      <label>Texto das questões:</label>
      <input type="text" v-model="question_text" placeholder="Texto das questões"/>

      <label>Número de opções:</label>
      <input type="number" v-model="num_of_answers" min="2" step="1" placeholder="Número de opções"/>

      <label>Exemplo preenchido:</label>
      <select v-model="filled_letter">
        <option v-for="r in num_of_answers" :value="r" :key="r">{{ getLetter(r) }}</option>
      </select>

    </div>
    <br>
    
    <label style="text-align: center;">Instruções ao aluno:</label>
    <textarea v-model="instructions"></textarea>

    <button onclick="window.print()">Imprimir</button>
  </div>

  <div id="options-open" class="options-open" onclick="openMenu(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  
</div>

</body>
</html>
